.tooltip-inner { background-color: #333; }

#footer ul {
	list-style-type: none; 
	display:inline;
}
	
#footer ul li { 
	display: inline;
}

#footer #credit {
	font-size: 10px;
	}

a { color:black; }

#footer a:link, a:visited, a:active { text-decoration:none; color: #333;}
	
.super {
	font-size:xx-small; 
	vertical-align:super;
	
} 
	
/** for live validation of form **/
	
/**
 * @author GeekTantra
 * @date 20 September 2009
 */
input, select {
    border: 1px solid #888;
    background: #ffffff;
    padding: 3px 4px;
    color: #222;
    margin: 0px 5px 0px 0px;
    border-radius: 7px;
    -moz-border-radius: 7px;
}

input:focus, select:focus {
    outline: none;
}

.InputGroup {
    display: inline-block;
    padding: 3px 4px;
    border: 1px solid #FFF;
    border-radius: 7px;
    -moz-border-radius: 7px;
}

.ErrorField {
    border-color: #D00;
    color: #D00;
    background: #FFFFFE;
}

span.ValidationErrors {
    display: inline-block;
    font-size: 12px;
    color: #D00;
    padding-left: 10px;
    font-style: italic;
}	