<div class='row'>
<div class='span2'><a href='http://www.stanford.edu'>
<img src='images/Stanford_seal.png' width='50px'></a><br>
<a href='http://genetics.stanford.edu'><img src='images/Stanford_Dept_of_Genetics_Logo.jpg' alt='Genetics' width='90px'></a>
</div>
<div class='span2'>
<a href=''><img src='images/testnetwork_med_small.png' height='150px'></a>
</div>
<div class='span6'><h1>Integrated Personal Omics Profiling</h1></div>

</div>