<script>
$(function(){
  $("#first").validate({
     expression: "if (VAL) return true; else return false;",
     message: "A first name is required."
  });
   $("#last").validate({
     expression: "if (VAL) return true; else return false;",
     message: "A last name is required."
  });
     $("#email").validate({
     expression: "if (VAL.match(/^[^\\W][a-zA-Z0-9\\_\\-\\.]+([a-zA-Z0-9\\_\\-\\.]+)*\\@[a-zA-Z0-9_]+(\\.[a-zA-Z0-9_]+)*\\.[a-zA-Z]{2,4}$/)) return true; else return false;",
     message: "Please enter a valid e-mail address."
  }); 
    $("#subj").validate({
     expression: "if (VAL) return true; else return false;",
     message: "Please enter a subject."
  });
     $("#body").validate({
     expression: "if (VAL) return true; else return false;",
     message: "Please submit a comment or question."
  });

    $('#submit').on('click', (function(e){

      // Stop the form actually posting
        e.preventDefault();	
       
//       alert('submitted');
//        }));
        // Send the request
       $.post('scripts/contact.php', {
          first: $('#first').val(),
            last: $('#last').val(),
           email: $('#email').val(),
            subj: $('#subj').val(),
            interests: $('#ints').val(),
            affiliation: $('#affiliation').val(),
             comments: $('#body').val()
       }, function(d){
            // Here we handle the response from the script
            // We are just going to alert the result for now
   
         alert(d);
                  
      });
	}));
});

</script>

<div class='modal-header'>
	<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
	<h3>Contact us</h3>
</div> <!-- end modal-header -->

<div class="modal-body">
		<div id='sub_result'></div>

	<form id='contact_form' class='form-inline' action="scripts/contact.php" data-async data-target="#sub_result' method='post'>
		<label class='control-label' for="name">Name:</label>
				<input type="text" placeholder="First" id='first' name='first'><input type='text' placeholder='Last' id='last' name='last'>
		<br><br>

		<label class='inline'>E-mail:</label>
			<input type="text" placeholder="E-mail address" id="email" name='email'><br><br>

		<label class='inline'>Subject:</label>
			<input type="text" placeholder="Subject" id="subj" name='subj'><br><br>

		<label class='inline'>Comments:  </label>
			<textarea rows="3" id='body' name='body'></textarea><br><br>
	
		<label class='inline'>Field(s) of interest: </label>
			<select id='ints' multiple='multiple' name='ints'>
				<option>Medicine</option>
				<option>Integrative Approaches</option>
				<option>Genomics</option>
				<option>Transcriptomics</option>
				<option>Proteomics</option>
				<option>Metabolomics</option>
				<option>Autoantibodyomics</option>
			</select><br><br>

		<label class='inline'> Affiliation: </label>
			<select id='affiliation' name='affiliation'>
			<option>Academic</option>
			<option>Industry</option>
			<option>Other</option>
			</select>
	</form>	
		
</div> <!-- end modal-body -->
	
<div class="modal-footer">
    <a href="" class="btn">Close</a>
    <button id='submit' class="btn btn-primary" type='submit' value='Submit' name='submit'>Submit</button>
</div> <!-- end modal-footer -->

