<div><h6>Certain files may open directly in your browser. To download these files, browser settings may need to be changed to force the file type (txt, fq, etc.) to download, rather than open. Alternatively, specific key-clicking combinations or using 'wget' on the command-line may be used. For example, in Safari, right-click on the link and select the 'Download Linked File' option.  
</h6></div>
<div><h6>
To download multiple files at one time, use the 'wget' command on the command-line. Multiple URLs can be entered after wget, separated by a space. Entire directories can be retrieved by feeding a textfile of all the files of interest into 'wget' or 'curl'. URLs can be found by moving the mouse over the file of interest, right-clicking, and selecting 'copy Link address.' For more information about wget, please type 'man wget' on the command line.
</h6>
<pre><small>E.g. <br>Retrieve specific files: wget http://snyderome.stanford.edu/datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L6_2_pf.fastq http://snyderome.stanford.edu/datafiles/SNP-chip_valid.tar.bz2<br>
Retrieve a directory: wget -base=http://snyderome.stanford.edu/datafiles -i TB0001907-allfiles.txt
</small></pre>
</div> <!-- end example of using wget -->


<div class="accordion" id='accordion-data'>
  	<div class='accordion-group'>
  		<div class='accordion-heading'>
  			<a class='accordion-toggle' data-toggle='collapse' data-parent='#accordion-data' 
  			data-target="#genomic_data"><h3>Genomic Data</h3></a>
  		</div>
  	
		<div id="genomic_data" class="collapse in">
        	<div class="accordion-inner">        
				<div>
<!--					<div class='accordion-heading'><a class='accordion-toggle' data-toggle='collapse' -->
<!--						data-parent='#sample-accordion' data-target='#validation'><h4></h4></a>  -->
<!--					</div> <!-- end accordion-heading -->
					<div id='link-section'>
                                                <div class='row-fluid'><h6>Provisional Complete Genomics raw data from SRA database at: <a href='ftp://ftp.ncbi.nlm.nih.gov/sra/Submissions/SRA045/SRA045736/provisional/'>ftp://ftp.ncbi.nlm.nih.gov/sra/Submissions/SRA045/SRA045736/provisional/</a></h6>
</div><!-- end row-fluid -->
</div> <!-- end link-section -->
</div> <!-- end accordion-group -->
			<div class='accordion' id='sample-accordion'>			
				<div class='container-fluid accordion-group'>
					<div class='accordion-heading'><a class='accordion-toggle' data-toggle='collapse' 
						data-parent='#sample-accordion' data-target='#validation'><h4>Sample Validation and Comparisons</h4></a>
					</div> <!-- end accordion-heading -->
					<div id='validation' class='collapse in'>
					<div class="accordion-inner">
                                                <div class='row-fluid'>
                                                <div class='span3' ><a href="datafiles/snp-chip.zip" rel="tooltip" data-placement='top' title="SNP-ChIP data">SNP-chip.zip</a></div>
                                                <div class='span3' ><a href="datafiles/SNP-chip_valid.tar.bz2" rel="tooltip" data-placement='top' title="Validation of SNP-ChIP data">SNP-chip_valid.tar.bz2</a></div>
                                                </div>
                                                <div class='row-fluid'>
                                                <div class='span3' ><a href="datafiles/CNVs/NimbleGenCNVcallsRep1DS.txt" rel="tooltip" data-placement='top' title="Blood samples compared to Saliva samples on a single array, NimbleGen">NimbleGenCNVcallsRep1DS.txt</a></div>
                                                <div class='span3' ><a href="datafiles/CNVs/NimbleGenCNVcallsRep1.txt" rel="tooltip" data-placement='top' title="Blood samples compared to Saliva samples on a single array, NimbleGen">NimbleGenCNVcallsRep1.txt</a></div>
                                                <div class='span3' ><a href="datafiles/CNVs/NimbleGenCNVcallsRep2DS.txt" rel="tooltip" data-placement='top' title="Blood samples compared to Saliva samples on a single array, NimbleGen">NimbleGenCNVcallsRep2DS.txt</a></div>
                                                <div class='span3' ><a href="datafiles/CNVs/NimbleGenCNVcallsRep2.txt" rel="tooltip" data-placement='top' title="Blood samples compared to Saliva samples on a single array, NimbleGen">NimbleGenCNVcallsRep2.txt</a></div>
                                                </div>
                                                <div class='row-fluid'>
						<div class='span3' ><a href="datafiles/CNVs/SnyderBloodCNVcalls(seq).txt" rel="tooltip" data-placement='top' title="Blood sample CNV calls from Nimblegen data">SnyderBloodCNVcalls(seq).txt</a></div>
                                                <div class='span3' ><a href="datafiles/CNVs/SnyderSalivaCNVcalls(seq).txt" rel="tooltip" data-placement='top' title="Saliva sample CNV calls from NimbleGen data">SnyderSalivaCNVcalls(seq).txt</a></div>
                                                <div class='span3' ><a href="datafiles/CNVs/test_Blood_CNVs_Omni1QuadData.txt" rel="tooltip" data-placement='top' title="Blood samples v. Reference genome, Omni Data">test_Blood_CNVs_Omni1QuadData.txt</a></div>
                                                </div>
  					</div> <!-- end accordion-innder --></hr>
				</div> <!-- end validation -->
			</div> <!-- end accordion-group -->
				<div class='blood container-fluid accordion-group'>
					<div class='accordion-heading'><a class='accordion-toggle' data-toggle='collapse' 
						data-parent='#sample-accordion' data-target='#blood'><h4>Blood sample data</h4></a> 
						<h6><a href='datafiles/TB0001907-allfiles.txt'>File to download all blood sample data</a></h6>

						</div> <!-- end accordion-heading -->
					<div id='blood' class='collapse '>
					<div class="accordion-inner">
					<div><div><h6>Fastq files</h6> 
</div>
						<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_1_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_1_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_1_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_1_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_1_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_1_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_1_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_1_2.fq.sai</a></div>
						</div>
						<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_2_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_2_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_2_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_2_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_2_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_2_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_2_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_2_2.fq.sai</a></div>
						</div>
						<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_3_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_3_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_3_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_3_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_3_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_3_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_3_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_3_2.fq.sai</a></div>
						</div>
						<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_4_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_4_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_4_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_4_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_4_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_4_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_4_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_4_2.fq.sai</a></div>
						</div>
						<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_5_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_5_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_5_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_5_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_5_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_5_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_5_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_5_2.fq.sai</a></div>
						</div>
						<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_6_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_6_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_6_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_6_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_6_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_6_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_6_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_6_2.fq.sai</a></div>
						</div>
						<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_7_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_7_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_7_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_7_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_7_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_7_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_7_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_7_2.fq.sai</a></div>
						</div>
						<div class='row-fluid'><div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_8_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_8_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_8_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_8_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_8_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_8_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_8_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, blood sample, fastq">A804NLABXX.s_8_2.fq.sai</a></div>
					</div>
					</div>
					<hr>
					<div>
					<div><h6>BAM files</h6></div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_1.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 1"> A804NLABXX.s_1.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_1.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 1"> A804NLABXX.s_1.bam.bai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_2.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 2"> A804NLABXX.s_2.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_2.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 2"> A804NLABXX.s_2.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_3.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 3"> A804NLABXX.s_3.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_3.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 3"> A804NLABXX.s_3.bam.bai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_4.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 4"> A804NLABXX.s_4.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_4.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 4"> A804NLABXX.s_4.bam.bai</a></div>
					</div>
					<div class='row-fluid'>					
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_5.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 5"> A804NLABXX.s_5.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_5.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 5"> A804NLABXX.s_5.bam.bai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_6.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 6"> A804NLABXX.s_6.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_6.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 6"> A804NLABXX.s_6.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_7.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 7"> A804NLABXX.s_7.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_7.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 7"> A804NLABXX.s_7.bam.bai</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_8.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 8"> A804NLABXX.s_8.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001907/A804NLABXX.s_8.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, lane 8"> A804NLABXX.s_8.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
						<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr1.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 1">TB0001907.chr1.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr2.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 2">TB0001907.chr2.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr3.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 3">TB0001907.chr3.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr4.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 4">TB0001907.chr4.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr5.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 5">TB0001907.chr5.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr6.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 6">TB0001907.chr6.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr7.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 7">TB0001907.chr7.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr8.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 8">TB0001907.chr8.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr9.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 9">TB0001907.chr9.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr10.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 10">TB0001907.chr10.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr11.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 11">TB0001907.chr11.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr12.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 12">TB0001907.chr12.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr13.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 13">TB0001907.chr13.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr14.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 14">TB0001907.chr14.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr15.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 15">TB0001907.chr15.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr16.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 16">TB0001907.chr16.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr17.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 17">TB0001907.chr17.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr18.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 18">TB0001907.chr18.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr19.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 19">TB0001907.chr19.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr20.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 20">TB0001907.chr20.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr21.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 21">TB0001907.chr21.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chr22.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome 22">TB0001907.chr22.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chrM.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, mitochondrial genome">TB0001907.chrM.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chrX.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome X">TB0001907.chrX.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.chrY.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, blood sample, chromosome Y">TB0001907.chrY.bwa.bam</a></div>
				</div> <!-- end row-fluid -->		 
					</div>	
					<hr>			
				<div><h6>VCF files</h6>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.dindel.vcf"
						 rel="tooltip" data-placement='top' title="Variant calls Illumina raw sequencing data of blood sample using Dindel, all chromosomes">TB0001907.all.bwa.dindel.vcf</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.indel.filtered.vcf.idx"
						 rel="tooltip" data-placement='top' title="Filtered indel variant calls, raw sequencing data, blood sample, all chromosomes, Illumina">TB0001907.all.bwa.indel.filtered.vcf.idx</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.indel.vcf"
						 rel="tooltip" data-placement='top' title="Indel variant calls, raw sequencing data, blood sample, all chromosomes, Illumina">TB0001907.all.bwa.indel.vcf</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.indel.vcf.idx"
						 rel="tooltip" data-placement='top' title="Indel variant calls, raw sequencing data, blood sample, all chromosomes, Illumina">TB0001907.all.bwa.indel.vcf.idx</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.snp.call.vcf"
						 rel="tooltip" data-placement='top' title="SNP variant calls, raw sequencing data, blood sample, all chromosomes, Illumina">TB0001907.all.bwa.snp.call.vcf</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.snp.raw.filtered.vcf"
						 rel="tooltip" data-placement='top' title="SNP variant calls, raw filtered sequencing data, blood sample, all chromosomes, Illumina">TB0001907.all.bwa.snp.raw.filtered.vcf</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.snp.raw.filtered.vcf.idx "
						 rel="tooltip" data-placement='top' title="Raw filtered SNP variant calls of Illumina sequencing data from blood sample, all chromosomes">TB0001907.all.bwa.snp.raw.filtered.vcf.idx</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.snp.raw.vcf"
						 rel="tooltip" data-placement='top' title="Raw SNP variant calls of Illumina sequencing data, blood sample, all chromosomes">TB0001907.all.bwa.snp.raw.vcf.</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.snp.raw.vcf.idx"
						 rel="tooltip" data-placement='top' title="Raw SNP variant calls of Illumina sequencing data, blood sample, all chromosomes">TB0001907.all.bwa.snp.raw.vcf.idx</a></div>
					</div>
				</div>	
				<hr>			
				<div>
				<h6>GFF files</h6>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.indel.gff"
						 rel="tooltip" data-placement='top' title="Indel variant calls from Illumina raw sequencing data, blood sample, all chromosomes">TB0001907.all.bwa.indel.gff</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.jct.gff"
						 rel="tooltip" data-placement='top' title="Variant calls from Illumina raw sequencing data, blood sample, all chromosomes, jct">TB0001907.all.bwa.jct.gff</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.rdd.gff"
						 rel="tooltip" data-placement='top' title="Variant calls from Illumina raw sequencing data, blood sample, all chromosomes, rdd">TB0001907.all.bwa.rdd.gff</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.rpm.gff"
						 rel="tooltip" data-placement='top' title="Variant calls from Illumina raw sequencing data, blood sample, all chromosomes, rpm">TB0001907.all.bwa.rpm.gff</a></div>
					<div class='span4'><a href="datafiles/TB0001907/TB0001907.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.sra.gff"
						 rel="tooltip" data-placement='top' title="Variant calls from Illumina raw sequencing data, blood sample, all chromosomes, sra">TB0001907.all.bwa.sra.gff</a></div>
						 </div>
				</div><!-- end GFF div -->				
</div> <!-- end accordion inner -->
</div> <!-- end id='blood' -->
</div> <!-- end class='tarball accordion-group(blood samples)' -->
				<div class='saliva container-fluid accordion-group'>
					<div class='accordion-heading'><a class='accordion-toggle' data-toggle='collapse' 
						data-parent='#sample-accordion' data-target='#saliva'><h4>Saliva sample data</h4></a>
				<h6><a href='datafiles/TB0001908-allfiles.txt'>File to download all saliva sample data</a></h6>
</div> <!-- end accordion-heading -->
		<div id="saliva" class="collapse">
        	<div class="accordion-inner">
			<div>	<h6>Fastq files</h6>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_1_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_1_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_1_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_1_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_1_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_1_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_1_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_1_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_2_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_2_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_2_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_2_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_2_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_2_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_2_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_2_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_3_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_3_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_3_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_3_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_3_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_3_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_3_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_3_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_4_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_4_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_4_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_4_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_4_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_4_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_4_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_4_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_5_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_5_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_5_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_5_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_5_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_5_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_5_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_5_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_6_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_6_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_6_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_6_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_6_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_6_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_6_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_6_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_7_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_7_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_7_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_7_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_7_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_7_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_7_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_7_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_8_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_8_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_8_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_8_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_8_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_8_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_8_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_8_2.fq.sai</a></div>
					</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_1_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_1_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_1_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_1_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_1_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_1_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_1_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_1_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_2_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_2_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_2_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_2_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_2_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_2_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_2_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_2_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_3_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_3_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_3_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_3_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_3_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_3_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_3_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_3_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_4_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_4_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_4_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_4_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_4_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_4_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_4_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_4_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_5_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_5_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_5_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_5_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_5_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_5_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_5_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_5_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_6_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_6_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_6_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_6_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_6_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_6_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_6_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_6_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_7_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_7_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_7_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_7_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_7_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_7_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_7_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_7_2.fq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_8_1.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_8_1.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_8_1.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_8_1.fq.sai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_8_2.fq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_8_2.fq</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A806WMABXX.s_8_2.fq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, saliva sample, fastq">A806WMABXX.s_8_2.fq.sai</a></div>
					</div>
				</div><hr>	
				<div><h6>BAM files</h6>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_1.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 1"> A808HKABXX.s_1.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_1.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 1"> A808HKABXX.s_1.bam.bai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_2.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 2"> A808HKABXX.s_2.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_2.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 2"> A808HKABXX.s_2.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_3.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 3"> A808HKABXX.s_3.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_3.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 3"> A808HKABXX.s_3.bam.bai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_4.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 4"> A808HKABXX.s_4.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_4.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 4"> A808HKABXX.s_4.bam.bai</a></div>
					</div>
					<div class='row-fluid'>					
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_5.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 5"> A808HKABXX.s_5.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_5.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 5"> A808HKABXX.s_5.bam.bai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_6.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 6"> A808HKABXX.s_6.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_6.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 6"> A808HKABXX.s_6.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_7.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 7"> A808HKABXX.s_7.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_7.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 7"> A808HKABXX.s_7.bam.bai</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_8.bam" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 8"> A808HKABXX.s_8.bam</a></div>
						<div class='span3'><a href="datafiles/TB0001908/A808HKABXX.s_8.bam.bai" rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, lane 8"> A808HKABXX.s_8.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
						<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr1.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 1">TB0001908.chr1.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr2.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 2">TB0001908.chr2.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr3.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 3">TB0001908.chr3.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr4.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 4">TB0001908.chr4.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr5.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 5">TB0001908.chr5.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr6.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 6">TB0001908.chr6.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr7.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 7">TB0001908.chr7.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr8.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 8">TB0001908.chr8.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr9.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 9">TB0001908.chr9.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr10.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 10">TB0001908.chr10.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr11.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 11">TB0001908.chr11.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr12.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 12">TB0001908.chr12.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr13.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 13">TB0001908.chr13.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr14.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 14">TB0001908.chr14.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr15.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 15">TB0001908.chr15.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr16.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 16">TB0001908.chr16.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr17.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 17">TB0001908.chr17.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr18.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 18">TB0001908.chr18.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr19.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 19">TB0001908.chr19.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr20.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 20">TB0001908.chr20.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr21.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 21">TB0001908.chr21.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chr22.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome 22">TB0001908.chr22.bwa.bam</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chrM.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample,mitochondrial genome">TB0001908.chrM.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chrX.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome X">TB0001908.chrX.bwa.bam</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.chrY.ILLUMNIA.bwa.CEU.high_coverage.20101118.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, saliva sample, chromosome Y">TB0001908.chrY.bwa.bam</a></div>
				</div> <!-- end row-fluid -->		 
				</div><hr>
				<div>
				<h6>VCF files</h6>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.dindel.vcf"
						 rel="tooltip" data-placement='top' title="Variant calls using Dindel on Illumina sequencing data from saliva samples, all chromosomes">TB0001908.all.bwa.dindel.vcf</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.indel.filtered.vcf.idx"
						 rel="tooltip" data-placement='top' title="Indel filtered variant calls on Illumina sequencing data from saliva samples, all chromosomes">TB0001908.all.bwa.indel.filtered.vcf.idx</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.indel.vcf"
						 rel="tooltip" data-placement='top' title="Indel calls on Illumina sequencing data from saliva samples, all chromosomes">TB0001908.all.bwa.indel.vcf</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.indel.vcf.idx"
						 rel="tooltip" data-placement='top' title="Indel calls on Illumina sequencing data from saliva samples, all chromosomes">TB0001908.all.bwa.indel.vcf.idx</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.snp.call.vcf"
						 rel="tooltip" data-placement='top' title="SNP calls on Illumina sequencing data from saliva samples, all chromosomes">TB0001908.all.bwa.snp.call.vcf</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.snp.raw.filtered.vcf"
						 rel="tooltip" data-placement='top' title="Raw filtered SNP calls on Illumina sequencing data from saliva samples, all chromosomes">TB0001908.all.bwa.snp.raw.filtered.vcf</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.snp.raw.filtered.vcf.idx "
						 rel="tooltip" data-placement='top' title="Raw filtered SNP calls on Illumina sequencing data from saliva samples, all chromosomes">TB0001908.all.bwa.snp.raw.filtered.vcf.idx</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.snp.raw.vcf"
						 rel="tooltip" data-placement='top' title="Raw SNP calls on Illumina sequencing data from saliva samples, all chromosomes">TB0001908.all.bwa.snp.raw.vcf.</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.snp.raw.vcf.idx"
						 rel="tooltip" data-placement='top' title="Raw SNP calls on Illumina sequencing data from saliva samples, all chromosomes">TB0001908.all.bwa.snp.raw.vcf.idx</a></div>
					</div>
				</div><hr>
				<div><h6>GFF files</h6>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.indel.gff"
						 rel="tooltip" data-placement='top' title="Indel calls on Illumina sequencing data from saliva samples, all chromosomes">TB0001908.all.bwa.indel.gff</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.jct.gff"
						 rel="tooltip" data-placement='top' title="Variant calls on Illumina sequencing data from saliva samples, all chromosomes, jct">TB0001908.all.bwa.jct.gff</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.rdd.gff"
						 rel="tooltip" data-placement='top' title="Variant calls on Illumina sequencing data from saliva samples, all chromosomes, rdd">TB0001908.all.bwa.rdd.gff</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.rpm.gff"
						 rel="tooltip" data-placement='top' title="Variant calls on Illumina sequencing data from saliva samples, all chromosomes, rpm">TB0001908.all.bwa.rpm.gff</a></div>
					<div class='span4'><a href="datafiles/TB0001908/TB0001908.all.ILLUMNIA.bwa.CEU.high_coverage.20101118.sra.gff"
						 rel="tooltip" data-placement='top' title="Variant calls on Illumina sequencing data from saliva samples, all chromosomes, sra">TB0001908.all.bwa.sra.gff</a></div>
					</div>
				</div>
</div> <!-- end accordion-inner -->
</div> <!-- end id='saliva' -->
</div> <!-- end saliva accordion group -->

         <div class='maternal container-fluid accordion-group'>
         	<div class='accordion-heading'><a class='accordion-toggle' data-toggle='collapse' 
						data-parent='#sample-accordion' data-target='#maternal'><h4>Maternal sample data</h4></a>
					<h6><a href='datafiles/IR0001011-allfiles.txt'>File to download all Maternal sample data</a></h6>		
	</div> <!-- end accordion-heading -->
        	<div id='maternal' class='collapse'> 
        		<div class='accordion-inner'>
			<div>	<h6>Fastq files</h6>
					<div class='row-fluid'>
						<div class='span5'><a href="datafiles/IR0001011/101022_BRISCOE_0325_A80ARHABXX_L8_1_pf.fastq" rel="tooltip" data-placement='top' title="Illumina Illumina raw sequencing data, maternal sample, fastq">101022_BRISCOE_0325_A80ARHABXX_L8_1_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/101022_BRISCOE_0325_A80ARHABXX_L8_1_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">101022_BRISCOE_0325_A80ARHABXX_L8_1_pf.fastq.sai</a></div>
					<div class='row-fluid'>
						<div class='span5'><a href="datafiles/IR0001011/101022_BRISCOE_0325_A80ARHABXX_L8_2_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">101022_BRISCOE_0325_A80ARHABXX_L8_2_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/101022_BRISCOE_0325_A80ARHABXX_L8_2_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">101022_BRISCOE_0325_A80ARHABXX_L8_2_pf.fastq.sai</a></div>
						<div class='row-fluid'>
						</div>
						<div class='span5'><a href="datafiles/IR0001011/101029_MONK_0163_B809E6ABXX_L8_1_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">101029_MONK_0163_B809E6ABXX_L8_1_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/101029_MONK_0163_B809E6ABXX_L8_1_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">101029_MONK_0163_B809E6ABXX_L8_1_pf.fastq.sai</a></div>
					</div>
					<div class='row-fluid'>
						<div class='span5'><a href="datafiles/IR0001011/101029_MONK_0163_B809E6ABXX_L8_2_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">101029_MONK_0163_B809E6ABXX_L8_2_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/101029_MONK_0163_B809E6ABXX_L8_2_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">101029_MONK_0163_B809E6ABXX_L8_2_pf.fastq.sai</a></div>
					<div class='row-fluid'>		
				<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L1_1_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L1_1_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L1_1_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L1_1_pf.fastq.sai</a></div>
					</div>
					<div class='row-fluid'>
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L1_2_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L1_2_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L1_2_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L1_2_pf.fastq.sai</a></div>
					</div>
					<div class='row-fluid'>
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L2_1_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L2_1_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L2_1_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L2_1_pf.fastq.sai</a></div>
						</div>
					<div class='row-fluid'>
					<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L2_2_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L2_2_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L2_2_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L2_2_pf.fastq.sai</a></div>
						</div>
					<div class='row-fluid'>
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L4_1_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L4_1_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L4_1_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L4_1_pf.fastq.sai</a></div>
					</div>
					<div class='row-fluid'>	
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L4_2_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L4_2_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L4_2_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L4_2_pf.fastq.sai</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L6_1_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L6_1_pf.fastq</a></div>
					<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L6_1_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L6_1_pf.fastq.sai</a></div>
					</div>
					<div class='row-fluid'>	
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L6_2_pf.fastq" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L6_2_pf.fastq</a></div>
						<div class='span5'><a href="datafiles/IR0001011/110107_TENNISON_0105_B80VHLABXX_L6_2_pf.fastq.sai" rel="tooltip" data-placement='top' title="Illumina raw sequencing data, maternal sample, fastq">110107_TENNISON_0105_B80VHLABXX_L6_2_pf.fastq.sai</a></div>
					</div>
				</div><hr>	
				<div><h6>BAM files</h6>
					<div class='row-fluid'>
					<div class='span2'><a href="datafiles/IR0001011/out/chr1.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 1">chr1.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr1.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 1">chr1.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr2.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 2">chr2.recal.bam</a></div>
						<div class='span2'><a href="datafiles/IR0001011/out/chr2.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 2">chr2.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr3.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 3">chr3.recal.bam</a></div>
				<div class='span2'><a href="datafiles/IR0001011/out/chr3.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 3">chr3.recal.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span2'><a href="datafiles/IR0001011/out/chr4.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 4">chr4.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr4.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 4">chr4.recal.bam.bai</a></div>
				<div class='span2'><a href="datafiles/IR0001011/out/chr5.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 5">chr5.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr5.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 5">chr5.recal.bam.bai</a></div>
				<div class='span2'><a href="datafiles/IR0001011/out/chr6.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 6">chr6.recal.bam</a></div>
						<div class='span2'><a href="datafiles/IR0001011/out/chr6.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 6">chr6.recal.bam.bai</a></div>
					</div>
					
					<div class='row-fluid'>
					<div class='span2'><a href="datafiles/IR0001011/out/chr7.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 7">chr7.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr7.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 7">chr7.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr8.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 8">chr8.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr8.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 8">chr8.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr9.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 9">chr9.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr9.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 9">chr9.recal.bam.bai</a></div>

					</div>
					<div class='row-fluid'>
					<div class='span2'><a href="datafiles/IR0001011/out/chr10.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 10">chr10.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr10.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 10">chr10.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr11.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 11">chr11.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr11.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 11">chr11.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr12.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 12">chr12.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr12.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 12">chr12.recal.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span2'><a href="datafiles/IR0001011/out/chr13.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 13">chr13.recal.bam</a></div>
				<div class='span2'><a href="datafiles/IR0001011/out/chr13.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 13">chr13.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr14.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 14">chr14.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr14.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 14">chr14.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr15.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 15">chr15.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr15.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 15">chr15.recal.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span2'><a href="datafiles/IR0001011/out/chr16.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 16">chr16.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr16.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 16">chr16.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr17.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 17">chr17.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr17.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 17">chr17.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr18.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 18">chr18.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr18.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 18">chr18.recal.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span2'><a href="datafiles/IR0001011/out/chr19.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 19">chr19.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr19.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 19">chr19.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr20.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 20">chr20.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr20.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 20">chr20.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr21.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 21">chr21.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr21.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 21">chr21.recal.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span2'><a href="datafiles/IR0001011/out/chr22.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 22">chr22.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chr22.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome 22">chr22.recal.bam.bai</a></div>
					</div>
					<div class='row-fluid'>
					<div class='span2'><a href="datafiles/IR0001011/out/chrM.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, mitochondrial genome">chrM.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chrM.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Raw sequencing data, maternal sample, bam.bai, mitochondrial genome">chrM.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chrX.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome X">chrX.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chrX.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Raw sequencing data, maternal sample, bam.bai, chromosome X">chrX.recal.bam.bai</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chrY.recal.bam"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome Y">chrY.recal.bam</a></div>
					<div class='span2'><a href="datafiles/IR0001011/out/chrY.recal.bam.bai"
						 rel="tooltip" data-placement='top' title="Alignments from Illumina raw sequencing data, maternal sample, chromosome Y">chrY.recal.bam.bai</a></div>
				</div> <!-- end row-fluid -->		 
				</div>
				</div> <!-- end maternal accordion-inner -->        		        	
        	</div> <!-- end id='maternal' -->
        	
        </div> <!-- end maternal accordion-group -->
        	
       		 </div> <!-- end sample-accordion -->	
       		 </div> <!-- end accordion-inner -->
		</div> <!-- end genomic_data -->
	</div> <!-- end accordion-group --> 
</div>
</div><!-- end genomic data accordion group -->

	<div class='accordion-group'> <!-- transcriptome accordion group -->
  		<div class='accordion-heading'>
  			<a class='accordion-toggle' data-toggle='collapse' data-parent='#accordion-data' 
  			data-target="#transcriptome_data"><h3>Transcriptome and Protein Array Data</h3></a>
  		</div>

		<div id="transcriptome_data" class="collapse in">
        	<div class="accordion-inner">
		<!--		<a href="#" rel="tooltip" data-placement='top' title="All RNA-seq timepoints">GSM818563-GSM818582</a><br>
				<a href="#" rel="tooltip" data-placement='top' title="All microRNA-seq timepoints">GSM818583-GSM818587</a><br> -->
			<!-- file is missing	<div><a href="datafiles/GSE33029.tar" rel="tooltip" data-placement='top' title="All RNA-seq and microRNA-seq timepoint data (fastq, aligned BAM files, and Invitrogen protein Arrays) submitted to GEO">GSE33029.tar</a></div>	-->	
				<div><a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE33029" rel="tooltip" data-placement='top' 
					title="Browse all RNA-seq and microRNA-seq timepoint data in GEO">Individual time point data at GEO</a></div>
	        </div> <!-- end accordion-inner -->
		</div> <!-- end transcriptome data -->
	</div> <!-- end accordion-group -->

	<div class='accordion-group'> <!-- metabolomic data accordion group -->
  		<div class='accordion-heading'>
  			<a class='accordion-toggle' data-toggle='collapse' data-parent='#accordion-data' 
  			data-target="#metabolomic_data"><h3>Proteomic and Metabolomic Data</h3></a>
	  	</div>
		<div id="metabolomic_data" class="collapse in">
        	<div class="accordion-inner">
		        <a href="datafiles/tranche.tar" rel="tooltip" data-placement='top' title="All original proteomics files (protein, Thermos Velos Orbitrap and metabolites, Agilent QTOF) that were submitted to peptideAtlas.">Tranche.tar</a>
        	</div> <!-- end accordion-inner -->
		</div> <!-- end metabolomic_data -->
	</div> <!-- end accordion-group -->

</div> <!-- end accordian -->

<script type='text/javascript'>
     $(document).ready(function () {
     if ($("[rel=tooltip]").length) {
     $("[rel=tooltip]").tooltip();
     }
   });
</script>  