<hr>
<div id='main_text' class='span7 offset2'><ul>
<li>&copy; 2012 | </li>
<li><a href="#contact" role='button' data-toggle="modal">Contact us</a> | </li>
<li><a href="http://www.stanford.edu/site/terms.html">Terms of use</a> | </li>
<li><a href="http://snyderlab.stanford.edu/">Snyder lab</a>
</ul>
</div>
<div class='span3' id='credit'>Created and maintained by the Cherry Lab</div>
