<h1 style="text-align: center">
<span><a href='http://www.stanford.edu'>
<img src='images/stanford_seal.png' width='80px'></a></span>
<a href=''><img src='images/testnetwork_med_small.png'></a>
<span class='hidden-tablet hidden-phone'>Integrated Personal Omics Profiling</span><span class='visible-phone inline'>Omics Profiling</span><span class='visible-tablet inline'>Integrated Omics Profiling</span>
<span class='hidden-phone hidden-tablet'><a href='http://genetics.stanford.edu'><img src='images/Stanford_Dept_of_Genetics_logo.jpg' alt='Genetics' width='135px'></a></span>
</h1>